<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <!-- chuyển form đến trang đăng kí -->
            <h1>Tạo Tài khoản</h1>
            <div class="social-container">
                <a href="https://www.facebook.com/" class="social"><i class="fb" >  </i></a>
                <a href="https://www.google.com.vn/?hl=vi" class="social"><i class="gg">  </i></a>
            </div>
            <span> Hoặc sử dụng email của bạn để đăng kí </span>
            <input type="text" placeholder="Tên" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Mật Khẩu" />
            <input type="password" placeholder="Nhập lại mật khẩu" />

            <button> Đăng Kí</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1> Đăng Nhập </h1>
            <div class="social-container">
                <a href="https://www.facebook.com/" class="social-fb"><i class="fb">  </i></a>
                <a href="https://www.google.com.vn/" class="social-gg"> <i class="gg"> </i></a>
            </div>
            <span> Hoặc đăng nhập bằng tài khoản của bạn </span>
            <input type="text" placeholder=" Tên Đăng Nhập" />
            <input type="password" placeholder="Mật Khẩu" />
            <a href="#"> Quên Mật Khẩu </a>
            <button> Đăng Nhập </button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>
                    Chào mừng bạn trở lại!
                </h1>
                <p>Vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                <button class="ghost" id="signIn"> Đăng Nhập </button>
            </div>
            <div class="overlay-container">
                <h1> Xin Chào Bạn!</h1>
                <p>Nhập thông tin cá nhân của bạn và bắt đầu thôi nào!</p>
                <button class="ghost" id="signUp">Đăng Kí</button>
            </div>
        </div>
    </div>
</div>