<div id="slider">
   <div class="text-link">
       <a routerLink="/shop">Trang chủ</a><i class="icon-arrow-left ti-angle-right"></i><span>Giỏ hàng</span>
   </div> 
</div>

<div class="content-section">
    <div id="cart">
        <!-- begin: cart-heading -->
        <div class="cart-heading">
            <div class="row">
                <div class="col-border" style="width: 18%;">
                    Ảnh sản phẩm
                </div>
                <div class="col-border" style="width: 32%;">
                    Tên sản phẩm
                </div>
                <div class="col-border" style="width: 17%;">
                    Đơn giá
                </div>
                <div class="col-border" style="width: 14%;">
                    Số lượng
                </div>
                <div class="col-border" style="width: 14%;">
                    Thành tiền
                </div>
                <div class="col-border" style="width: 5%;">
                    Xóa
                </div>
            </div>
        </div>
        <!-- end: cart-heading -->
        <!-- begin: cart-infor -->
        <div class="cart-infor row" *ngFor = "let p of product">
                <div class="col-border item" style="width: 18%;">
                    <img src="{{p.source}}" alt="" class="img">
                </div>
                <div class="col-border item" style="width: 32%;">
                    {{p.name}}
                </div>
                <div class="col-border item color-main" style="width: 17%;">
                   {{p.price}}.000đ
                </div>
                <div class="col-border item" style="width: 14%;">
                    1
                </div>
                <div class="col-border item color-main" style="width: 14%;">
                    {{p.price}}.000đ
                </div>
                <div class="col-border item" style="width: 5%;">
                    <i class="ti-trash" style="cursor: pointer;" (click) = deleteProduct(p.id)></i>
                </div>
        </div>
        <!-- end: cart-infor -->
    </div>
    <div class='row'>
        <div class="cart-total">
            Tổng tiền thanh toán: <span class="color-main">{{total}}.000d</span>
        </div>
    </div>
    <div class="row checkout">
        <a routerLink="/checkout">Tiến hành thanh toán</a>
    </div>
</div>
