<div class="row" id="checkout">
    <div class="col" style="width: 60%">
        <a class="checkout-heading" routerLink="/shop">Lato Shop</a>
        <div class="row form-infor">
            <!-- begin: form -->
            <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
                <div class="col col-2">
                    <h2 class="form-heading">Thông tin nhận hàng</h2>
                    <input type="email" ngModel name="email" placeholder="Email" class="form-input">
                    <input type="text" ngModel name="userName" placeholder="Họ và tên" class="form-input">
                    <input type="number" ngModel name="phone" placeholder="Số điện thoại (tùy chọn)" required class="form-input">
                    <input type="text" ngModel name="address" required placeholder="Địa chỉ (tùy chọn)" class="form-input">
                </div>
                <div class="col col-2">
                    <h2 class="form-heading">Vận chuyển</h2>
                    <div class="transport-fee" *ngIf = "!form.controls.address?.errors?.required && form.controls.address?.touched">Giao Hàng tận nơi {{transportFee}}.000đ</div>
                    <h2 class="form-heading" style="margin-top: 28px">Thanh Toán</h2>
                    <input type="submit" value="Thanh toán khi giao hàng" class="form-input">
                    <div #paypalRef style="margin-top: 12px"></div>
                </div>
            </form>
            <!-- end: form -->
        </div>
    </div>
    <div class="col summary">
        <h2 class="summary-heading">Đơn hàng</h2>
        <div class="summary-infor">
            <div class="detail" *ngFor = "let p of cart">
                <div class="row">
                    <div class="col"><img src="{{p.source}}" alt=""></div>
                    <div class="col detail-name">{{p.name}}</div>
                    <div class="detail-price">{{p.price}}.000đ</div>
                </div>
            </div>
        </div>
        <div class="caculator" *ngIf = "cart.length != 0">
            <div class="row">
                <div class="col lh-32">Tạm tính</div>
                <div class="col lh-32 fr">{{total-40000}}đ</div>
            </div>
            <div class="row">
                <div class="col lh-32">Phí vận chuyển</div>
                <div class="col lh-32 fr">{{40000}}đ</div>
            </div>
        </div>
        <div class="total" *ngIf = "cart.length != 0">
            <div class="row">
                <div class="col lh-32">Tổng cộng</div>
                <div class="col lh-32 fr">{{total}}đ({{totalUSD}} USD)</div>
            </div> 
        </div>
    </div>
</div>
