/* common */
.lh-32 {
    line-height: 32px;
}

.fr {
    float: right;
}
/* end: common */
#checkout {
    padding: 0 150px;
    margin-top: 160px;
}

#checkout .checkout-heading{
    color: #2a9dcc;
    font-size: 28px;
    text-decoration: none;
}

.form-infor {
    margin-top: 21px;
}

.form-infor .form-heading {
    font-weight: 600;
    font-size: 18.4px;
}

.form-infor .form-input {
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    margin-top: 6px;
    border: 1px #d9d9d9 solid
}

.form-infor .form-input:hover {
    opacity: 0.6;
    cursor: pointer;
}

.transport-fee {
    width: 100%;
    font-size: 14px;
    color: #545454;
    padding: 12px 0;
    border: 1px #d9d9d9 solid;
    border-radius: 4px;
    text-align: center;
    margin-top: 6px;
}

.summary {
    background-color: #fafafa;
    width: 40%;
    padding: 20px 28px;
    border-bottom: 1px solid #e1e1e1;
}

.summary-heading {
    font-size: 18.4px;
    font-weight: 600;    
}

.summary-infor {
    border-bottom: 1px solid #e1e1e1;
    padding: 28px 0 10px;
}

.detail {
}

.detail img {
    width: 50px;
    height: 50px;
}

.detail .detail-name {
    line-height: 50px;
    font-size: 14px;
}

.detail .detail-price {
    line-height: 50px;
    font-size: 14px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    color: #717171;
}

.caculator {
    font-size: 14px;
    color: #717171;
    border-bottom: 1px solid #e1e1e1;
}

.total {
    font-size: 14px;
    color: #717171;
    margin-top: 20px;
}
