<div id="header">
  <div class="content-section">
    <div class="row">
      <!-- logo -->
      <div class="header-logo col">
        <a href=""><img src="../assets/img/logo/logo1.png" alt="LOGO"></a>
      </div>
      <!-- begin: nav -->
      <ul class="nav col">
        <li><a href="" style="color: #ffac4b;">TRANG CHỦ</a></li>
        <li>
          <a href="">
            SẢN PHẨM
            <i class="ti-angle-down icon-arrow-down"></i>
          </a>
          <ul class="sub-nav">
            <li><a href="">Thời trang nữ</a></li>
            <li><a href="">Thời trang nam</a></li>
          </ul>
        </li>
        <li><a href="">THỜI TRANG NỮ</a></li>
        <li><a href="">THỜI TRANG NAM</a></li>
        <li><a href="">TIN TỨC</a></li>
        <li><a href="">LIÊN HỆ</a></li>
      </ul>
      <!-- end: nav -->
      <!-- begin: icon -->
      <div class="col" style="margin-left: 80px;">
        <i class="icon-heading ti-search"></i>
        <a routerLink="/login"><i class="icon-heading ti-user"></i></a>
        <a routerLink="/cart"><i class="icon-heading ti-shopping-cart"></i></a>
      </div>
      <!-- end: icon -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>